/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom properties */
:root {
    --title-color: #e53170;
    --card-bgc: #000000;
    --email-color: #60c1f0;
    --name-job-color: #ffffff;
}

/* generics */
body{
    font-family: 'Fredoka', sans-serif;
}

/* utilities */
.container { 
    max-width: 1180px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}


/* header */
header, p {
    margin: 50px 0;
}

.title-header, .intro-text {
    text-align: center;
}

.title-header {
    font-size: 50px;
    color: var(--title-color);
}

p {
    font-size: 20px;
}

/* column */
.column {
    flex-basis: calc( 100% / 3 );
    padding: 0 10px;
    margin-bottom: 20px;
}

/* cards */
.cards {
    height: 100px;
    background-color: #000000;
    color: var(--name-job-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    height: 100%;
    width: auto;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: var(--email-color);
}

.role {
    padding: 2px;
}


